/target
.DS_Store

# Local (directories)
.icp

# This directory contains canister ID mappings which are encouraged
# to be included in source control of icp canister projects.
# They are ignored here because we are developing icp-cli itself.
.icpdata

# often-used binaries
pocket-ic
icp-cli-network-launcher
