[package]
name = "icp-cli"
version = "0.1.0"
edition = "2024"
publish = false

[[bin]]
name = "icp"
path = "src/main.rs"

[dependencies]

[dev-dependencies]
assert_cmd = "2"
predicates = "3"
tempfile = "3"
